Hi Admin
<div class="container">
  <ul> 
    <% @categories.each do |c| %>
    <li>
        <%= c.name %>
     	<%= link_to 'Delete', category_path(c) ,:method => :delete, :class => "btn btn-danger btn-xs" %>
	</li>
    <% end %>
  </ul>
  <%= form_for @category, :url => categories_path(@category) do |f| %>
    <%= render :partial => "category", :locals => {:f => f} %>
    <%= f.submit "Create", :class => "btn btn-primary" %>
  <% end %>
  <%= link_to 'old home page', old_home_posts_path, :class => "btn btn-primary" %>
</div>