<% if @post.errors.any? %>
      <ul>
      <% @post.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
<% end %>

<h1> </h1>
<div class="form-group form-inline">
 	<%= f.label :status %>
  <%= f.select :status, post_status_options, :class => "form-control" %>
</div>

<div id="date-area" class="form-group form-inline">
    <%= f.label :publish_on, "發布日期" %>
    <%= f.text_field :publish_on, :required => true, :class => "form-control" %>
</div>


<div class="form-group form-inline">
	<%= f.label :title, "Title" %><br>
	<%= f.text_field :title, :class => "form-control", :placeholder => "Input Title" %>
	<%= f.collection_check_boxes(:category_ids, Category.all, :id, :name) %>
</div>

<div class="form-group form-inline">
	<%= f.label :content, "Content" %><br>
	<%= f.text_area :content, :class => "form-control", :id => "content", :placeholder => "Input Content" %>
</div>

<script>
    $( document ).ready(function() {
       $("#date-area").hide();
    });
    $("#post_publish_on").datepicker({
     format: "yyyy/mm/dd"
    });
    
    $("#post_status").on("change", function(e){
      if (this.value == "scheduled") {
         $("#date-area").show();
      }else{
        $("#date-area").hide();
      }
    });
</script>
