    <div class="container">

        <div class="row">

            <!-- Post -->
            <div class="col-md-8">
                    <div class="row clearfix">
                        <div class="col-lg-6">
                            <h2><%= @post.title %></h2>
                            <p class="lead">
                                by <a><%= @post.user.username%></a></p>
                            <p><span class="glyphicon glyphicon-time"></span> Posted on <%= @post.updated_at.to_s(:long) %></p>
                            <p><span class="glyphicon glyphicon-thumbs-up"></span> Likes: <%= @post.likes.count %> </p>
                            <p><span class="glyphicon glyphicon-heart"></span> Favorites: <%= @post.subscriptions.count %> </p>
                        </div>
                        <div class="col-lg-6">
                            <h3></h3>
                            <img class="img-responsive" src="https://placeimg.com/320/180/any" alt="">
                        </div>
                    </div>   
                <hr>
                    <p><%= @post.content %></p>
                <hr>
                
                <%= content_tag :div, '', :class => "fb-comments", "data-href" => request.original_url, "data-numposts" => "5", "data-colorscheme" => "light", "data-width" => "100%" %>
                <br>
                <%= link_to 'Edit', edit_post_path(@post), :class => "btn btn-default" if @post.user == current_user %>
                <%= link_to 'Delete', post_path(@post) ,:method => :delete, :class => "btn btn-danger" if @post.user == current_user %>


                <p><%= link_to 'Back to index', posts_path %></p>
            </div>

            <!-- Sidebar Widgets Column -->
            <div class="col-md-4">
                <div class="well">
                    <h4>關於作者</h4>
                    <h4><%= @post.user.username %></h4>
                    <div>
                    <% if @post.user.avatar.exists? %>
                        <%= image_tag @post.user.avatar.url(:thumb) %>
                    <% end %>
                </div>

                   
                </div>
                <div class="well">
                    <h4>作者其他文章</h4>
                    <div class="row">
                        <div class="col-lg-12">
                            <ul class="list-unstyled">
                                <% @posts.each do |p| %>
                                   <li><%= link_to p.title, post_path(p) %></li>
                            <% end %>
                            </ul>
                            <%= paginate @posts, :theme => 'twitter-bootstrap-3' %>
                        </div>
                    </div>
                </div>

            </div>

        </div>
        <!-- /.row -->

        <hr>

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; Your Website 2014</p>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
        </footer>
    </div>

<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/zh_TW/sdk.js#xfbml=1&version=v2.5&appId=592429950915958";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
